.inputWrapper {
  margin-bottom: 2rem;
}
.inputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 1rem;
  padding: 1rem;
  height: 56px;
}

.inputItem {
  flex: 1;
  border: none;
  font-size: 18px;
  padding: 0.6rem;
  color: #828282;
  background: transparent;
  outline: none;
  width: 100%;
}
.inputItem:focus {
  background-color: none;
}
.inputContainer.error {
  border-color: #ff0000;
}
.errorMsg {
  color: #ff0000;
  font-size: 18px;
}
