@import "src/assets/styles/variables.scss";
.wrapper {
  min-height: calc(100vh - 9.3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.form {
  width: 414px;
  margin-bottom: 4rem;
  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 400;
    letter-spacing: -1.25px;
    margin-bottom: 3.6rem;
  }

  .field {
    margin-bottom: 1.5rem;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    .field {
      width: calc(50% - 5px);
    }
  }
  .captcha {
    margin: 4rem 0 7rem;
    width: 100%;
  }
  .bottom {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    letter-spacing: -0.25px;
    margin-top: 1.5rem;
    a {
      color: $primary_blue;
    }
  }
}
.g-recaptcha {
  transform: scale(2);
  transform-origin: 0 0;
}
