@import "src/assets/styles/variables.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins";
  box-sizing: border-box;
  font-weight: 400;
  font-size: $main-fz;
  line-height: 1.9;
}

img {
  max-width: 100%;
}
.no-scroll {
  overflow: hidden;
}
.toast-custom {
  .Toastify__toast-body {
    color: #000;
    font-size: 16px;
  }
  .Toastify__progress-bar {
    background: #3fc2d3 !important;
  }
  .Toastify__close-button {
    svg {
      fill: #000;
    }
  }
  .Toastify__toast {
    min-height: 61px;
    min-width: 444px;
  }
}
.Toastify__toast-container {
  min-width: 444px;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .body-content {
    flex: 1;
  }
}
