.main-menu {
  display: flex;
  justify-content: flex-end;
  ul {
    list-style: none;
    display: flex;
    li {
      a {
        font-family: $poppins;
        font-weight: 700;
      }
    }
  }
}