.form {
  max-width: 400px;
  margin: 70px auto;
  @media (max-width: 500px) {
    padding: 0 1.5rem;
  }
}
.title {
  margin-bottom: 2.5rem;
  font-size: 40px;
  font-weight: 400;
}
.googleLoginContainer button {
  width: 100%;
  justify-content: center;
  margin-bottom: 3.5rem;
  border: 1px solid;
  border: 1px solid #2fabdd !important;
  border-radius: 1rem !important;
  box-shadow: none !important;
  height: 51px;
}
.googleLoginContainer button span {
  font-weight: 600 !important;
  color: #2fabdd;
}
.form button[type="submit"] {
  margin-top: 3.5rem;
}
.bottom {
  margin-top: 2.5rem;
  font-size: 16px;
  line-height: 2;
}
.bottom a {
  color: #2fabdd;
  text-decoration: underline;
}
