/* Fonts */
$main-fz: 1.4rem;
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", Sans-Serif;

/* Colors */
$primary_blue: #3fc2d3;
$primary_orange: #ff7f09;
$primary_red: #ff0000;
$primary_light: #ffffff;
$primary_black: #000000;
$secondary_black: #111111;
$secondary_light: #f2f4f8;
$primary_dark: #202124;
$secondary_dark: #242d34;

/* Shadow */
$primary-shadow: 0px 5px 15px rgba(47, 171, 221, 0.4);
$secondary-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
